.banner {
  background-size: cover;
  padding-top: 45%;
  margin-top: 45%;
}

.jumbotron {
  padding-top: 20%;
  background-color: rgb(194, 196, 201);
  margin-bottom: 0%;
}

#projects {
  padding-top: 20%;
  margin-top: 20%;
  background-color: rgb(194, 196, 201);
}

section {
  margin-top: 20%;
  padding-top: 20%;
}
